---
// src/pages/index.astro
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import WhenWhere from "../components/WhenWhere.astro";
import Schedule from "../components/Schedule.astro";
import Gifts from "../components/Gifts.astro";
import RsvpForm from "../components/RsvpForm.astro";
import Faq from "../components/Faq.astro";
import AboutUs from "../components/AboutUs.astro";
import MorseMessageModal from "../components/MorseMessageModal.astro";
import SongSuggestionModal from "../components/SongSuggestionModal.astro";

import { Image } from "astro:assets";

// Import Content Collection
import { getEntry } from "astro:content";



const wedding = await getEntry("wedding", "info");
if (!wedding) {
  throw new Error("Wedding content 'info' not found");
}
const { metaTitle, hero } = wedding.data;
---

<Layout title={metaTitle}>
  <Header />

  <main class="pb-20">
    <header
      class="flex min-h-[calc(100vh-80px)] flex-col items-center justify-center px-6 py-20 text-center"
    >
      <Image src={hero.logo.src} alt={hero.logo.alt} class="mb-20" />
      <h1
        class="text-wedding-dark mb-8 text-6xl font-bold tracking-tight md:text-8xl animate-fade-in-up"
      >
        {hero.title}
      </h1>
      <p
        class="text-wedding-dark mb-8 text-4xl font-bold tracking-tight uppercase opacity-80 md:text-2xl animate-fade-in-up delay-100"
      >
        {hero.date}
      </p>
      <p
        class="text-wedding-dark mb-16 text-xl font-medium tracking-tight uppercase opacity-80 md:text-2xl animate-fade-in-up delay-100"
      >
        <span class="morse-decoder" data-decoded={hero.morseCodeText}>
          {hero.morseCode}
        </span>
      </p>
      <a
        href="#rsvp"
        class="morse-border text-wedding-dark border-wedding-dark hover:bg-wedding-dark hover:text-wedding-light mt-8 inline-flex items-center gap-3 bg-transparent px-12 py-5 text-lg font-bold tracking-widest uppercase transition-all duration-300 animate-fade-in-up delay-200 hover:scale-105 active:scale-95 shadow-sm"
      >
        {hero.buttonText}
      </a>
    </header>

    <AboutUs />

    <WhenWhere />

    <Schedule />

    <Gifts />

    <RsvpForm />

    <Faq />

    <MorseMessageModal />
    <SongSuggestionModal />
  </main>
</Layout>
